html {
    height: 100%;
    width: 100%;
  }

  .button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
  }

  .row{
    margin: 8px;
  }

  .row input{
    width: 290px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
  }

  .bg-g{
    background-color: black;
  }

  .bg-o{
    background-color: orange;
  }

  .bg-w{
    background-color: rgb(185, 180, 180);
  }

  .bg-gr{
    background-color: gray;
  }